<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>    


<script src="https://cdn.ckeditor.com/4.10.0/standard-all/ckeditor.js"></script>

<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
<style>
  .container{  
         text-align: center;
         margin: 0 auto;
         text-justify: auto;   
         padding-top:40px;
      }
  </style> 

<div class="container">     
<form class="form-horizontal" id = "myForm" action="/reb/contents/addcontent" method="post" name="form3">
    <div class="form-group">
        <label class="control-label col-sm-2" for="pdf_link">PDF-Link:</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" name="pdf_link" id="pdf_link" value="<%- pdf_link %>"/>
      </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="heading">Heading:</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" name="heading" id="heading" value="<%- heading %>"/>
      </div>
     </div>


      <div class="form-group">
        <label class="control-label col-sm-2" for="content">Content:</label>
        <div class="col-sm-10">
          <textarea cols="10" id="editor1" name="content" rows="10" value="<%- content %>">
          </textarea>
      </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="flipbook">Flipbook:</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" name="flipbook" id="flipbook" value="<%- flipbook %>"/>
      </div>
      </div>


      <div class="form-group">
        <label class="control-label col-sm-2" for="keywords">Keywords:</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" name="keywords" id="keywords" value="<%- keywords %>"/>
      </div>
      </div>


      <div class="form-group">
        <label class="control-label col-sm-2" for="tags">Tags:</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" name="tags" id="tags" value="<%- tags %>"/>
      </div>
      </div>


      <div class="form-group">
        <label class="control-label col-sm-2" for="owner">Owner:</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" name="owner" id="owner" value="<%- owner %>"/>
      </div>
      </div>


        <input type="button" id='check' onclick="myFunction()" class="btn btn-primary" value="Add"/>	
    </form>
    </div>

    
<script>
  
       CKEDITOR.replace( 'editor1', {
			extraPlugins: 'mathjax',
			mathJaxLib: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML',
			height: 320
		} );

		if ( CKEDITOR.env.ie && CKEDITOR.env.version == 8 ) {
			document.getElementById( 'ie8-warning' ).className = 'tip alert';
		}
    content = document.getElementById("editor1");
console.log(content);
document.querySelector("#check").addEventListener("click",function(event){

    var data = CKEDITOR.instances.editor1.getData();
    myFunction(data);
    console.log(data);

function myFunction(data){
           document.getElementById("editor1").value = content;
           document.getElementById("myForm").submit();
        }
    


},false);
    
</script>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>