<!--
including header content which is common for all pages
-->
<%- include ../../adminlayouts/header.ejs %>
<div class="content-wrapper">
    <section class="content-header">
        <h1>
          Class Management
        </h1>
    </section>
    <div class="row">
      <% if (messages.error) { %>
          <p style="color:red; text-align:center"><%- messages.error %></p>
      <% } %>

      <% if (messages.success) { %>
          <p style="color:green; text-align:center"><%- messages.success %></p>
      <% } %>

      <style>
              table,th,td{
                     text-align: center;
                     margin: 0 auto;
                     padding:8px;
                     border: 1px solid black;
                     border-collapse: collapse;
                     }
                     th{
              background-color:rgb(53, 110, 185);
              color:white;
          }

              </style>

      <table width='80%' border=0>

          <tr style='text-align:left; background-color:#CCC'>
            
              <th>Class-Name</th>
              <th>Action</th>
          </tr>

          <!--
              Using FOREACH LOOP for the users array

              myArray.forEach(function(el, index) {
                  // el - current element, i - index
              });
          -->
          <% if (locals.data) {
                   console.log(locals.data);
              %>
          <% locals.data.forEach(function(cl){

              %>
              <tr>
               
                  <td><%= cl.class_name %></td>

                  <td>
                      <div style="float:left">
                       <input type="button" class="btn btn-default" onclick="location.href='/admin/classes/editclass/<%= cl.id %>';" value="Edit"/t>
                          <form method="post" action="/admin/class/delete/<%= cl.id %>" style="float:right">
                              <input type="submit" class="btn btn-default" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
                              <input type="hidden" name="_method" value="DELETE" />
                          </form>
                      </div>
                  </td>
              </tr>
          <% }) %>
          <% } %>

      </table>

    </div>
  </div>

<!--
including footer content which is common for all pages
-->
<%- include ../../adminlayouts/footer.ejs %>
