<%- include ../sitelayouts/header.ejs %>
    <div class="main_video">
      <div class="overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="video/ADRA Animated Short- Education.mp4" type="video/mp4">
          <source src="video/mov_bbb.ogg" type="video/ogg">
      </video>
      <div class="container h-100">
        <div class="d-flex text-center h-100">
          <div class="my-auto w-100 text-white">
            <h1 class="display-3 text-uppercase font-weight-bold">Study <b class="main_color">Material</b></h1>
          </div>
        </div>
      </div>
    </div>

         
    <div class="container-fluid my-4">
    	<div class="row">
    		<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
    			<a href="/reb/subject-wise"><img class="img-fluid" src="../images/2.jpg" alt=""></a>
    		</div>
		    <div class="col-md-7 col-lg-9 col-sm-7">
				<div class="main_title">
					<a href="#/">Subject Wise</a>
				</div>
				<div id="owl-demo" class="text-center">
					  <% if (locals.data.subjects) {

                      %>
                   <% locals.data.subjects.forEach(function(cat){

                       %>
					<div class="item">
						<div class="section_box">
						  <a href="subject-wise?id=<%= cat.id %>"><div class="product_icon" id="physic">
							<i class="fas fa-user-graduate"></i>
						  </div><br>
						  <h5><%= cat.subject_name %></h5></a>
						</div>
					</div>
					<% }) %>
                    <% } %>
					<!-- <div class="item">
						<div class="section_box">
						  <a href="subject-wise"><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Chemistry</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href="subject-wise"><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Mathematics</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href="subject-wise"><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Biology</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href="subject-wise"><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>History</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href="subject-wise"><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Accounts</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href="subject-wise"><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Business Studies</h5></a>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>

	<div class="bg">
		<div class="container-fluid">
	    	<div class="row">
				<div class="col-md-7 col-lg-9 col-sm-7">
					<div class="main_title text-right">
						<a href="#/">Class Wise</a>
					</div>
					<div id="owl-demo" class="text-center">
				    <% if (locals.data.classes) {

                      %>
                   <% locals.data.classes.forEach(function(cls){

                       %>
						<div class="item">
							<div class="section_box">
							  <a href="class-wise?id=<%= cls.id %>"><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5><%= cls.class_name %></h5></a>
							</div>
						</div>
                        <% }) %>
                        <% } %>
					<!-- 	<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>X</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>XI</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>XII</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>B.Sc</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>BCA</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>BA</h5></a>
							</div>
						</div> -->
					</div>
				</div>
				<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
    				<a href="class-wise"><img class="img-fluid" src="../images/3.jpg" alt=""></a>
    			</div>
			</div>
		</div>
	</div>

	<div class="container-fluid my-4">
    	<div class="row">
    		<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
				<a href="/reb/board-material"><img class="img-fluid" src="../images/6.jpg" alt=""></a>
			</div>
			<div class="col-md-7 col-lg-9 col-sm-7">
				<div class="main_title">
					<a href="board-material">Study Material By Board</a>
				</div>
				<div id="owl-demo" class="text-center">
                    <% if (locals.data.boards) {

                      %>
                   <% locals.data.boards.forEach(function(cls){

                       %>
					<div class="item">
						<div class="section_box">
						  <a href="board-material"><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5><%= cls.board_name %></h5></a>
						</div>
					</div>
                      <% }) %>
                        <% } %>
					<!-- <div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>CBSE</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>PSEB</h5></a>
						</div>
					</div> -->
				<!-- 	<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Kerala</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Maharashtra</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Gujarat</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>GOA</h5></a>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>

	<div class="bg">
		<div class="container-fluid">
	    	<div class="row">
				<div class="col-md-7 col-lg-9 col-sm-7">
					<div class="main_title text-right">
						<a href="entranc-exam">Entrance Exam Wise</a>
					</div>
					<div id="owl-demo" class="text-center">
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Neet</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>IIT-JEE(MAINS)</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>IIT-JEE(ADVANCE)</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>B.Sc(Agri.)</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>B.Sc(Hons.)</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>TET</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>SCC</h5></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
    				<a href="/reb/entranc-exam"><img class="img-fluid" src="../images/7.jpg" alt=""></a>
    			</div>
			</div>
		</div>
	</div>

	<div class="container-fluid my-4">
    	<div class="row">
    		<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
				<a href=""><img class="img-fluid" src="../images/Education.jpg" alt=""></a>
			</div>
			<div class="col-md-7 col-lg-9 col-sm-7">
				<div class="main_title">
					<a href="">GOVT. Exam Wise</a>
				</div>
				<div id="owl-demo" class="text-center">
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>UPSE</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>SCC</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>RRB</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>SAIL</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>ONGC</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>BSNL</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>DRDO</h5></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg">
		<div class="container-fluid">
	    	<div class="row">
				<div class="col-md-7 col-lg-9 col-sm-7">
					<div class="main_title text-right">
						<a href="">UR Interset Wise</a>
					</div>
					<div id="owl-demo" class="text-center">
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Bussiness</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Cumputers</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Latest Tectnologies</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Latest Mobiles/Cumputers</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Motivational</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Fastion</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Creative Courses</h5></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
    				<img class="img-fluid" src="../images/8.jpg" alt="">
    			</div>
			</div>
		</div>
	</div>

	<div class="container-fluid my-4">
    	<div class="row">
    		<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
				<a href=""><img class="img-fluid" src="../images/4.jpg" alt=""></a>
			</div>
			<div class="col-md-7 col-lg-9 col-sm-7">
				<div class="main_title">
					<a href="">Engineering Study Material</a>
				</div>
				<div id="owl-demo" class="text-center">
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Chemical Engineering</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Electrical & Electronics</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Mechanical</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Cumputer Science</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Civil</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Aeronautical</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Instrumentation</h5></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg">
		<div class="container-fluid">
	    	<div class="row">
				<div class="col-md-7 col-lg-9 col-sm-7">
					<div class="main_title text-right">
						<a href="">Medical Study Material</a>
					</div>
					<div id="owl-demo" class="text-center">
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Anatomy</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Biochemistry</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Surgery</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Gynecology</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Dentistry</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Veterinery Medicine</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Microbiology</h5></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
    				<a href=""><img class="img-fluid" src="../images/5.jpg" alt=""></a>
    			</div>
			</div>
		</div>
	</div>
  <%- include ../sitelayouts/footer.ejs %>
