<%- include ../../adminlayouts/header.ejs %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Add Sub Category
      </h1>
      <!-- <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
      </ol> -->
    </section>
    <div class="col-md-6">
    <div class="box box-primary">

     <% if (messages.error) { %>
         <p style="color:red"><%- messages.error %></p>
     <% } %>

     <% if (messages.success) { %>
         <p style="color:green"><%- messages.success %></p>
     <% } %>
            <!-- <div class="box-header with-border">
              <h3 class="box-title">Quick Example</h3>
            </div> -->
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" name="" action="/admin/category/sub-category" method="post">
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Choose Category</label>
                  <select class="form-control" name="category_id" id="">

                  <option value="">Choose Category</option>

                     <% if (locals.data) {

                   %>
                <% locals.data.forEach(function(cate){

                   %>
              <option value="<%= cate.id %>"> <%= cate.name %></option>
              <% }) %>
              <% } %>
                  </select>
                </div>
                 <div class="form-group">
                  <label for="exampleInputEmail1">Sub Category Name</label>
                  <input type="text" class="form-control" name="name" id="exampleInputEmail1" placeholder="Enter Sub Category Name" required>
                </div>
                <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
    <!-- /.content -->
  </div>
  <div class="col-md-6">
      <ul class="list-group">
      <li href="#" class="list-group-item active">Sub Categories</li>
    </ul>
      <ul class="list-group" id="cat_list">

    </ul>
  </div>
</div>



<%- include ../../adminlayouts/footer.ejs %>
<script>
$(document).on('change','select[name=category_id]',function(){
  $.get('/admin/category/get_subcategories?id='+$(this).val(),function(res){
    var html = '';
    $.each(res,function(key,val){
    html += '<li id="delets'+val.id+'" href="#" class="list-group-item">'+val.name+'<a href="#"><i class="fa fa-trash" aria-hidden="true" data-id="'+val.id+'" title="Delete"></i></a></li>';
    })
    $('#cat_list').html(html)
  },'json')
})



$(document).on('click','.fa-trash',function(){
 var y = confirm("Are You Sure!");
 if(y == true){
  var a =$(this)
  $.get('/admin/category/delete?id='+$(this).data('id'),function(res){
    alert(res.message)
    if(res.success == 1){
     $('#delets'+a.data('id')).remove()
    }

  },'json')
  }else{

 return false; 
}

})
</script>
