<%- include ../../adminlayouts/header.ejs %>

<script src="https://cdn.ckeditor.com/4.10.0/standard-all/ckeditor.js"></script>
<div class="content-wrapper">
    <section class="content-header">
        <h1>
          Content Management
        </h1>
    </section>
    <section class="content">
    <div class="row">
        <div class="col-md-8">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Add Content</h3>
            </div>
            <% if (messages.error) { %>
              <p style="color:red"><%- messages.error %></p>
          <% } %>
    
          <% if (messages.success) { %>
              <p style="color:green"><%- messages.success %></p>
          <% } %>
      <form id="contentForm" action="/admin/content/mycontent" method="post" enctype="multipart/form-data" >
              
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Choose Board</label>
                  <select class="form-control" name="board_id" id="board_id">
                    <option disabled selected>Choose Board</option>
                    <% if (locals.data.boards) {
                        %>
                    <% locals.data.boards.forEach(function(cl){
                        %>
                    <option value="<%= cl.id %>"><%= cl.board_name %></option>
                    <% }) %>
                    <% } %>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Choose Class</label>
                  <select class="form-control" name="class_id" id="class_id">
                    <option disabled selected>Choose Class</option>
                    <% if (locals.data.selectclass) {
                        %>
                    <% locals.data.selectclass.forEach(function(cl){
                        %>
                    <option value="<%= cl.id %>"><%= cl.class_name %></option>
                    <% }) %>
                    <% } %>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Select Subject</label>
                  <select class="form-control" name="subject_id" id="subject_id">
  
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">Select Topic</label>
                  <select class="form-control"name="topic_id" id="topic_id" >
                   
                    
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Content Title</label>
                  <input type="text" name="my_title" class="form-control" required="true" placeholder="Enter Content Title">
                </div>
               
                <div class="form-group" id="show_pdf">
                  <label for="exampleInputEmail1">Choose File</label>&nbsp;
                  <input type="file" name="pdf" id="pdf" >
                  
                </div>
                <div class="form-group" id="show_content">
                    <label for="exampleInputPassword1">Content Description</label>
                    <textarea class="form-control" name="content_desc" id="editor1">
                    </textarea> 
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
    </div>
</div>
</section>

<%- include ../../adminlayouts/footer.ejs %>

<script>




     CKEDITOR.replace( 'editor1', {
			extraPlugins: 'mathjax',
			mathJaxLib: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML',
			height: 320
		} );

// 		if ( CKEDITOR.env.ie && CKEDITOR.env.version == 8 ) {
// 			document.getElementById( 'ie8-warning' ).className = 'tip alert';
// 		}
//     content = document.getElementById("editor1");
// console.log(content);
// document.querySelector("#check").addEventListener("click",function(event){
//     var data = CKEDITOR.instances.editor1.getData();
//     myFunction(data);
//     console.log(data);
// function myFunction(data){
//            document.getElementById("editor1").value = content;
//            document.getElementById("myForm").submit();
//         }
// },false);

// $(document).on('change','#contentForm select[name=category_id]',function(){
//   var html = '<option  disabled selected><--choose--></option>';
//   $.get('/admin/get_subcategories/?id='+$(this).val(),function(res){
//     $.each(res,function(key,val){
//     html += '<option value="'+val.id+'">'+val.name+'</option>';
//     })
//     $('#contentForm select[name=sub_category_id]').html(html)
//   },'json')
// });
// $(document).on('change','#contentForm select[name=sub_category_id]',function(){
//   var html = '<option disabled selected><--choose--></option>';
//   $.get('/admin/get_nanocategories/?id='+$(this).val(),function(res){
//     $.each(res,function(key,val){
//       html += '<option value="'+val.id+'">'+val.name+'</option>';
//     })
//     $('#contentForm select[name=nano_category_id]').html(html)
//   },'json')
// });


// $(document).on('change','#board_id',function(){
//   var html = '';
//   $.get('/admin/class/show_class?id='+$(this).val(),function(res){
//     $.each(res,function(key,val){
//       html += '<option value="'+val.id+'">'+val.class_name+'</option>';
//     })
//       $('#class_id').html(html)
//   },'json')
// })

$(document).on('change','#class_id',function(){
    
    var html = '';
    $.get('/admin/content/show_subject?id='+$(this).val(),function(res){
      $.each(res,function(key,val){
        html += '<option value="'+val.id+'">'+val.subject_name+'</option>';
      })
        $('#subject_id').html(html)
    },'json')
  })



$(document).on('change','#subject_id',function(){
  var html = '';
  $.get('/admin/content/show_topic_name?id='+$(this).val() + '&vid='+$('#class_id').val(),function(res){
    $.each(res,function(key,val){
      html += '<option value="'+val.id+'">'+val.topic_name+'</option>';;
    })
      $('#topic_id').html(html)
  })
})













// $(document).on('submit','#contentForm',function(e){
//   e.preventDefault()
//   console.log($(this).serialize())
//   var data = CKEDITOR.instances.editor1.getData();
//   //myFunction(data);
//   var formData = {
//       title: $('#contentForm input[name=title]').val(),
//       nano_category_id: $('#contentForm select[name=nano_category_id]').val(),
//       content: data,
//       file:''
//   }
//   console.log(formData);
//   $.post($(this).attr('action'),formData,function(res){
//     alert(res.message)
//     if(res.success == 1){
//       location.reload()
//     }
//   },'json')
// })
</script>
