<!--
including header content which is common for all pages
-->
<%- include ../../adminlayouts/header.ejs %>
<div class="content-wrapper">
    <section class="content-header">
        <h1>
          Board Management
        </h1>
    </section>
    <div class="row">
      <% if (messages.error) { %>
          <p style="color:red; text-align:center"><%- messages.error %></p>
      <% } %>

      <% if (messages.success) { %>
          <p style="color:green; text-align:center"><%- messages.success %></p>
      <% } %>

    <div class="row">
      <div class="col-md-8">
        <div class="box">
            <div class="box-body">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                  <th style="width: 10px">#</th>
                  <th>Name</th>
                  <th style="width: 40px">Action</th>
                </tr>
                <% if (locals.data) {

                    %>
                <% locals.data.forEach(function(cl){

                    %>
                <tr>
                  <td>1.</td>
                  <td><%= cl.board_name %></td>
                  <td>
                    <form method="post" action="/admin/board/delete/<%= cl.id %>" style="float:right">
                        <input type="submit" class="btn btn-danger" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
                        <input type="hidden" name="_method" value="DELETE" />
                    </form></td>
                </tr>
                <% }) %>
                <% } %>
              </tbody>
            </table>
            </div>
          </div>
      </div>
    </div>

    </div>
  </div>

<!--
including footer content which is common for all pages
-->
<%- include ../../adminlayouts/footer.ejs %>
