<%- include ../sitelayouts/header.ejs %>

    <div class="page_heading">
    	<img src="../images/banner.jpg" alt="" width="100%" height="150">
    	<div class="pagesub_heading">
    		<h1>Study <span class="main_color">Material</span> By Board</h1>
    	</div>
    </div>

	<div class="container-fluid side_tabbar my-3">
		<div class="row">
			<div class="col-md-12">
				<nav aria-label="breadcrumb">
				    <ol class="breadcrumb">
				      <li class="breadcrumb-item"><a href="/">Home</a></li>
				      <li class="breadcrumb-item active" aria-current="page">Study Material By Board</li>
				    </ol>
				</nav>
			</div>
			<div class="col-md-4 col-sm-4 col-xl-3">
			  <div class="side_barheading">
			  	<h6>Study Material By Board <i class="fas fa-hand-point-right hand_icon"></i></h6>
			  </div>
			  <ul class="nav nav-tabs" id="myTab" role="tablist">
			  	 <% if (locals.data.myboards) { %>
			           <% locals.data.myboards.forEach(function(cat){%>
				  <li class="nav-item">
				    <a class="nav-link <%= locals.data.current_subs == cat.id ? 'active' : '' %>"  href="board-material?id=<%= cat.id %>" role="tab" aria-controls="home"><i class="fas fa-chevron-right"></i><%= cat.board_name %></a>
				  </li>
				  <% }) %>
			      <% } %>
				 <!--  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link1" role="tab" aria-controls="profile"><i class="fas fa-chevron-right"></i> ICSE</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link2" role="tab" aria-controls="messages"><i class="fas fa-chevron-right"></i> PSEB</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link3" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Kerala</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link4" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Maharashtra</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link5" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> Gujarat</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#link6" role="tab" aria-controls="settings"><i class="fas fa-chevron-right"></i> GOA</a>
				  </li> -->
			  </ul>
			  <div class="filter_bar">
               <% if (locals.data.sub) { %>
			   <% locals.data.sub.forEach(function(cat){%>	
			  	<a href="subject-wise?id=<%= cat.id %>"><i class="fas fa-chevron-right"></i> Subject Wise</a>
                <% }) %>
			    <% } %>
			    <% if (locals.data.education) { %>
			   <% locals.data.education.forEach(function(cat){%>	 

			  	<a href="class-wise?id=<%= cat.id %>"><i class="fas fa-chevron-right"></i> Class Wise</a>

                <% }) %>
			    <% } %>

			  	<a href="/entranc-exam"><i class="fas fa-chevron-right"></i> Extrance Exam Wise</a>
			  	<a href="#"><i class="fas fa-chevron-right"></i> GOVT. Exam Wise</a>
			  	<a href="#"><i class="fas fa-chevron-right"></i> UR Interset Wise</a>
				<a href="#"><i class="fas fa-chevron-right"></i> Engineering Study Material</a>
				<a href="#"><i class="fas fa-chevron-right"></i> Medical Study Material</a>
			  </div>
			</div>
			<div class="col-md-8 col-sm-8 col-xl-9">
				<div class="tab-content">
					<div class="tab-pane active" id="activelink" role="tabpanel">
						<div class="main_title">
							 <% locals.data.myboards.forEach(function(cat){%>
						      
							   <% if(locals.data.current_subs == cat.id) { %>
							   		<a href=""><%= cat.board_name %></a> 
							   		<% }%> 
							  
							  <% }) %>
						</div>
					  	<div id="owl-demo" class="text-center">
					  		 <% if (locals.data.board) {

			                      %>
			                   <% locals.data.board.forEach(function(cat){

			                       %>
							<div class="item">
								
								<div class="section_box">
								  <a href=""><div class="product_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5><%= cat.class_name %></h5></a>
								</div>
							</div>
                            <% }) %>
			                    <% } %>
						  		
							<!-- <div class="item">
								<div class="section_box">
								  <a href=""><div class="product_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>X</h5></a>
								</div>
							</div>
							<div class="item">
								<div class="section_box">
								  <a href=""><div class="product_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>XI</h5></a>
								</div>
							</div>
							<div class="item">
								<div class="section_box">
								  <a href=""><div class="product_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>XII</h5></a>
								</div>
							</div>
							<div class="item">
								<div class="section_box">
								  <a href=""><div class="product_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>B.Sc</h5></a>
								</div>
							</div>
							<div class="item">
								<div class="section_box">
								  <a href=""><div class="product_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>BCA</h5></a>
								</div>
							</div>
							<div class="item">
								<div class="section_box">
								  <a href=""><div class="product_icon">
									<i class="fas fa-at"></i>
								  </div><br>
								  <h5>BA</h5></a>
								</div>
							</div> -->
						</div>
					</div>
				<!--   <div class="tab-pane" id="link1" role="tabpanel">
					<div class="main_title">
						<a href="icseboard.html">ICSE</a>
					</div>
					<div id="owl-demo" class="text-center">
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>IX</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>X</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>XI</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>XII</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>B.Sc</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>BCA</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>BA</h5></a>
							</div>
						</div>
					</div>
				  </div> -->
				  <div class="tab-pane" id="link2" role="tabpanel">XI</div>
				  <div class="tab-pane" id="link3" role="tabpanel">XII</div>
				  <div class="tab-pane" id="link4" role="tabpanel">B.Sc</div>
				  <div class="tab-pane" id="link5" role="tabpanel">BCA</div>
				  <div class="tab-pane" id="link6" role="tabpanel">BA</div>
				</div>
			</div>
				
		</div>
	</div>

<%- include ../sitelayouts/footer.ejs %>
