<%- include ../sitelayouts/header.ejs %>

    <div class="main_video">
      <div class="overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="../video/ADRA Animated Short- Education.mp4" type="video/mp4">
          <source src="../video/mov_bbb.ogg" type="video/ogg">
      </video>
      <div class="container h-100">
        <div class="d-flex text-center h-100">
          <div class="my-auto w-100 text-white">
            <h1 class="display-3 text-uppercase font-weight-bold">Entrance <b class="main_color">Exam</b></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid my-4">
    	<div class="row">
    		<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
    			<a href="#"><img class="img-fluid" src="../images/2.jpg" alt=""></a>
    		</div>
		    <div class="col-md-7 col-lg-9 col-sm-7">
				<div class="main_title">
					
					<a href="engineering_entrancexam"><%= locals.data.eng[0].exam_type %></a>
				</div>	
				<div id="owl-demo" class="text-center">     
				   <% if (locals.data.engi) { %>
			           <% locals.data.engi.forEach(function(cat){%>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-user-graduate"></i>
						  </div><br>
						  <h5><%= cat.exam_name %></h5></a>
						</div>
					</div>
					 <% }) %>
			          <% } %>
					<!-- <div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Bitsat</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Kcet</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Matcet </h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Wbjee</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Ap Eamcet</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>Viteee</h5></a>
						</div>
					</div>	 -->	
				</div>
			</div>
		</div>
	</div>
	
	<div class="bg">
		<div class="container-fluid">
	    	<div class="row">
				<div class="col-md-7 col-lg-9 col-sm-7">
					<div class="main_title text-right">
						<a href="#"><%= locals.data.eng[1].exam_type %></a>
					</div>
					<div id="owl-demo" class="text-center">        
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Neet</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>AIIMS</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>AIPVT</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>AIPMT</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>AFMC</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>KCET</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>COMEDK</h5></a>
							</div>
						</div>		
					</div>
				</div>
				<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
    				<a href="subjectwise.html"><img class="img-fluid" src="../images/3.jpg" alt=""></a>
    			</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid my-4">
    	<div class="row">
    		<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
				<a href="boardmaterial.html"><img class="img-fluid" src="../images/6.jpg" alt=""></a>
			</div>
			<div class="col-md-7 col-lg-9 col-sm-7">
				<div class="main_title">
					<a href="#"><%= locals.data.eng[2].exam_type %></a>
				</div>	
				<div id="owl-demo" class="text-center">        
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>NSO</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>IEO</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>ISO</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>MIO</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>ISKO</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>UCO(CYBER)</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>UIEO</h5></a>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>
	
	<div class="bg">
		<div class="container-fluid">
	    	<div class="row">
				<div class="col-md-7 col-lg-9 col-sm-7">
					<div class="main_title text-right">
						<a href="#"><%= locals.data.eng[3].exam_type %></a>
					</div>
					<div id="owl-demo" class="text-center">        
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>TET</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>UGC</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>CTET</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>NDA</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>ONGC</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>BSNL</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>DRDO</h5></a>
							</div>
						</div>		
					</div>
				</div>
				<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
    				<a href="#"><img class="img-fluid" src="../images/7.jpg" alt=""></a>
    			</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid my-4">
    	<div class="row">
    		<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
				<a href=""><img class="img-fluid" src="../images/Education.jpg" alt=""></a>
			</div>
			<div class="col-md-7 col-lg-9 col-sm-7">
				<div class="main_title">
					<a href=""><%= locals.data.eng[4].exam_type %></a>
				</div>
				<div id="owl-demo" class="text-center">        
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>IBPS PO</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>SBI PO</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>CAT</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>SBI CLERICAL</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>MAT</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>CPA</h5></a>
						</div>
					</div>
					<div class="item">
						<div class="section_box">
						  <a href=""><div class="product_icon">
							<i class="fas fa-at"></i>
						  </div><br>
						  <h5>CA</h5></a>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>
	
	<div class="bg">
		<div class="container-fluid">
	    	<div class="row">
				<div class="col-md-7 col-lg-9 col-sm-7">
					<div class="main_title text-right">
						<a href="#"><%= locals.data.eng[5].exam_type %></a>
					</div>
					<div id="owl-demo" class="text-center">        
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Red Hat Linux</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>Sun Java</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>CISCO</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>SET</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>GRE</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>GMAT</h5></a>
							</div>
						</div>
						<div class="item">
							<div class="section_box">
							  <a href=""><div class="product_icon">
								<i class="fas fa-at"></i>
							  </div><br>
							  <h5>TOFEL</h5></a>
							</div>
						</div>		
					</div>
				</div>
				<div class="col-md-5 col-lg-3 col-sm-5 d-none d-sm-block category_img">
    				<a href="#"><img class="img-fluid" src="../images/7.jpg" alt=""></a>
    			</div>
			</div>
		</div>
	</div>
<%- include ../sitelayouts/footer.ejs %>
    