<%- include ../../adminlayouts/header.ejs %>


<div class="content-wrapper">
    <section class="content-header">
        <h1>
          Exams List
        </h1>
    </section>
    <section class="content">
    <div class="row">
        <div class="col-md-8">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Exams List</h3>
            </div>
            <% if (messages.error) { %>
              <p style="color:red"><%- messages.error %></p>
          <% } %>
    
          <% if (messages.success) { %>
              <p style="color:green"><%- messages.success %></p>
          <% } %>
   
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Choose Exam type</label>
                  <select class="form-control" name="exam_id" id="exam_id">
                    <option disabled selected> Choose Exam type</option>
                    <% if (locals.data) {
                        %>
                    <% locals.data.forEach(function(cl){
                        %>
                    <option value="<%= cl.id %>"><%= cl.exam_type %></option>
                    <% }) %>
                    <% } %>
                  </select>
                </div>
              </div>
          </div>
        </div>
    </div>
    <div class="box" >
            <div class="box-body">
              <table class="table table-bordered">
                <thead >
                  <tr>
                  <th>S.No.</th>
                   <th>Exam Name</th>
                    <th>Exam Description</th>
                    <th>Eligibility Criteria</th>
                    <th>How To Apply</th>
                    <th>Preparation Tips</th>
                  <th style="width: 40px">Action</th>
                </tr>
              </thead>
              <tbody id="content_list">
              </tbody>
            </table>
            </div>
          </div>
</div>
</section>


<%- include ../../adminlayouts/footer.ejs %>

<script>


$(document).on('change','#exam_id',function(){
  var i = 1;
  var html = '';
  $.get('/admin/exam/showexam?id='+$(this).val(),function(res){
    if( res == ''){
    
     $('#content_list').html('NO DATA FOUND FOR SELECTED Exam Type')
   
    }else{
    $.each(res,function(key,val){
      html += '<tr id="dlt'+val.id+'"><td>'+ i++ +'</td><td>'+val.exam_name+'</td><td>'+val.exam_decription+'</td><td>'+val.eligibility+'</td><td>'+val.how_to_apply+'</td><td>'+val.exam_preparation+'</td><td><a href="/admin/exam/examedit?eid='+val.id+'"><button class="btn btn-info elsub">Edit</a><button class="btn btn-info vlsub" data-id="'+val.id+'">Delete</td></tr>';
    })
      $('#content_list').html(html)
    }  
  }, 'json')

})

$(document).on('click','.dlsub',function(){
 var y = confirm("Are You Sure!");
 if(y == true){
  var a =$(this)
  $.get('/admin/exam/examdelete?id='+$(this).data('id'),function(res){
    alert(res.message)
    if(res.success == 1){
     $('#dlt'+a.data('id')).remove()
    }

  },'json')
  }else{

 return false; 
}

})
</script>
