<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>    
<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">



<style>
    table,th,td{  
        text-align: center;
        margin: 90px auto;
        padding:8px;

        border: 1px solid black;
        border-collapse: collapse;
        
        }
        th{
            background-color:rgb(53, 110, 185);
            color:white;
        }
    </style> 
    
<table width='80%' border=0>
 
    <tr style='text-align:left; background-color:#CCC'>
        <th>Exam-Id</th>
        <th>Exam-Name</th>
        <th>Field</th>
        <th>Stream</th>
        <th>Action</th>
    </tr>
    
    <!--
        Using FOREACH LOOP for the users array
        
        myArray.forEach(function(el, index) {
            // el - current element, i - index
        });
    -->
    <% if (locals.data) {
        
        %>
    <% locals.data.forEach(function(exm){ 
     
        %>
        <tr>
            <td><%- exm.exam_id %></td>
            <td><%- exm.exam_name %></td>
            <td><%- exm.field %></td>
            <td><%- exm.stream %></td>
            
            <td>
                <div style="float:left">
                        <input type="button" class="btn btn-default" onclick="location.href='/reb/exam/editexam/<%= exm.id %>';" value="Edit"/t>
                        <form method="post" action="/reb/exam/delete/<%- exm.id %>" style="float:right">
                        <input type="submit" class="btn btn-default" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
                        <input type="hidden" name="_method" value="DELETE" />
                    </form>
                </div>
            </td>
        </tr>
    <% }) %>
    <% } %>
 
</table>
 
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>