<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>    
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>

<style>
.container{  
       text-align: center;
       margin: 0 auto;
       text-justify: auto;   
       padding-top:40px;
    }
</style> 
<div class="container">
        
<form class="form-horizontal" action="/reb/class/addclass" method="post" name="form2">
    <div class="form-group">
        <label class="control-label col-sm-2" for="class_id">Class-Id:</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" name="class_id" value="<%- class_id %>"/>
      </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="class_name">Class Name:</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" name="class_name" value="<%- class_name %>"/>
      </div>
     </div>

      <button type="submit" class="btn btn-primary">Add</button>
    </form>
    </div>
    

 
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>